.well {
  background-color: rgb(255, 255, 185);
}

.btn-red {
  background-color: #F00;
  border-color: #F00;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  background-color: #e60000;
  border-color: #cc0000;
}
.btn-red.disabled:hover,
.btn-red.disabled:focus,
.btn-red.disabled:active,
.btn-red.disabled.active,
.btn-red[disabled]:hover,
.btn-red[disabled]:focus,
.btn-red[disabled]:active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red:hover,
fieldset[disabled] .btn-red:focus,
fieldset[disabled] .btn-red:active,
fieldset[disabled] .btn-red.active {
  background-color: #F00;
  border-color: #F00;
}

.btn-blue {
  background-color: #00F;
  border-color: #00F;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  background-color: #0000e6;
  border-color: #0000cc;
}
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
  background-color: #00F;
  border-color: #00F;
}

.btn-green {
  background-color: #0f0;
  border-color: #0f0;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
  background-color: #00e600;
  border-color: #00cc00;
}
.btn-green.disabled:hover,
.btn-green.disabled:focus,
.btn-green.disabled:active,
.btn-green.disabled.active,
.btn-green[disabled]:hover,
.btn-green[disabled]:focus,
.btn-green[disabled]:active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green:hover,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green:active,
fieldset[disabled] .btn-green.active {
  background-color: #0f0;
  border-color: #0f0;
}

.btn-yellow {
  background-color: #FF0;
  border-color: #FF0;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active {
  background-color: #e6e600;
  border-color: #cccc00;
}
.btn-yellow.disabled:hover,
.btn-yellow.disabled:focus,
.btn-yellow.disabled:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled]:hover,
.btn-yellow[disabled]:focus,
.btn-yellow[disabled]:active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow:hover,
fieldset[disabled] .btn-yellow:focus,
fieldset[disabled] .btn-yellow:active,
fieldset[disabled] .btn-yellow.active {
  background-color: #FF0;
  border-color: #FF0;
}

.btn-orange {
  background-color: #f70;
  border-color: #f70;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  background-color: #e66b00;
  border-color: #cc5f00;
}
.btn-orange.disabled:hover,
.btn-orange.disabled:focus,
.btn-orange.disabled:active,
.btn-orange.disabled.active,
.btn-orange[disabled]:hover,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange:hover,
fieldset[disabled] .btn-orange:focus,
fieldset[disabled] .btn-orange:active,
fieldset[disabled] .btn-orange.active {
  background-color: #f70;
  border-color: #f70;
}

.btn-purple {
  background-color: #70f;
  border-color: #70f;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
  background-color: #6b00e6;
  border-color: #5f00cc;
}
.btn-purple.disabled:hover,
.btn-purple.disabled:focus,
.btn-purple.disabled:active,
.btn-purple.disabled.active,
.btn-purple[disabled]:hover,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple:hover,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple.active {
  background-color: #70f;
  border-color: #70f;
}

.btn-gray {
  background-color: #777;
  border-color: #777;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
  background-color: #6a6a6a;
  border-color: #5e5e5e;
}
.btn-gray.disabled:hover,
.btn-gray.disabled:focus,
.btn-gray.disabled:active,
.btn-gray.disabled.active,
.btn-gray[disabled]:hover,
.btn-gray[disabled]:focus,
.btn-gray[disabled]:active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray:hover,
fieldset[disabled] .btn-gray:focus,
fieldset[disabled] .btn-gray:active,
fieldset[disabled] .btn-gray.active {
  background-color: #777;
  border-color: #777;
}

.btn-cyan {
  background-color: #0ff;
  border-color: #0ff;
}
.btn-cyan:hover,
.btn-cyan:focus,
.btn-cyan:active,
.btn-cyan.active {
  background-color: #00e6e6;
  border-color: #00cccc;
}
.btn-cyan.disabled:hover,
.btn-cyan.disabled:focus,
.btn-cyan.disabled:active,
.btn-cyan.disabled.active,
.btn-cyan[disabled]:hover,
.btn-cyan[disabled]:focus,
.btn-cyan[disabled]:active,
.btn-cyan[disabled].active,
fieldset[disabled] .btn-cyan:hover,
fieldset[disabled] .btn-cyan:focus,
fieldset[disabled] .btn-cyan:active,
fieldset[disabled] .btn-cyan.active {
  background-color: #0ff;
  border-color: #0ff;
}

.btn-magenta {
  background-color: #f0f;
  border-color: #f0f;
}
.btn-magenta:hover,
.btn-magenta:focus,
.btn-magenta:active,
.btn-magenta.active {
  background-color: #e600e6;
  border-color: #cc00cc;
}
.btn-magenta.disabled:hover,
.btn-magenta.disabled:focus,
.btn-magenta.disabled:active,
.btn-magenta.disabled.active,
.btn-magenta[disabled]:hover,
.btn-magenta[disabled]:focus,
.btn-magenta[disabled]:active,
.btn-magenta[disabled].active,
fieldset[disabled] .btn-magenta:hover,
fieldset[disabled] .btn-magenta:focus,
fieldset[disabled] .btn-magenta:active,
fieldset[disabled] .btn-magenta.active {
  background-color: #f0f;
  border-color: #f0f;
}

.btn-ltblue {
  background-color: #07f;
  border-color: #07f;
}
.btn-ltblue:hover,
.btn-ltblue:focus,
.btn-ltblue:active,
.btn-ltblue.active {
  background-color: #006be6;
  border-color: #005fcc;
}
.btn-ltblue.disabled:hover,
.btn-ltblue.disabled:focus,
.btn-ltblue.disabled:active,
.btn-ltblue.disabled.active,
.btn-ltblue[disabled]:hover,
.btn-ltblue[disabled]:focus,
.btn-ltblue[disabled]:active,
.btn-ltblue[disabled].active,
fieldset[disabled] .btn-ltblue:hover,
fieldset[disabled] .btn-ltblue:focus,
fieldset[disabled] .btn-ltblue:active,
fieldset[disabled] .btn-ltblue.active {
  background-color: #07f;
  border-color: #07f;
}

.btn-ltgreen {
  background-color: #7f0;
  border-color: #7f0;
}
.btn-ltgreen:hover,
.btn-ltgreen:focus,
.btn-ltgreen:active,
.btn-ltgreen.active {
  background-color: #6be600;
  border-color: #5fcc00;
}
.btn-ltgreen.disabled:hover,
.btn-ltgreen.disabled:focus,
.btn-ltgreen.disabled:active,
.btn-ltgreen.disabled.active,
.btn-ltgreen[disabled]:hover,
.btn-ltgreen[disabled]:focus,
.btn-ltgreen[disabled]:active,
.btn-ltgreen[disabled].active,
fieldset[disabled] .btn-ltgreen:hover,
fieldset[disabled] .btn-ltgreen:focus,
fieldset[disabled] .btn-ltgreen:active,
fieldset[disabled] .btn-ltgreen.active {
  background-color: #7f0;
  border-color: #7f0;
}

.btn-seafoam {
  background-color: #0f7;
  border-color: #0f7;
}
.btn-seafoam:hover,
.btn-seafoam:focus,
.btn-seafoam:active,
.btn-seafoam.active {
  background-color: #00e66b;
  border-color: #00cc5f;
}
.btn-seafoam.disabled:hover,
.btn-seafoam.disabled:focus,
.btn-seafoam.disabled:active,
.btn-seafoam.disabled.active,
.btn-seafoam[disabled]:hover,
.btn-seafoam[disabled]:focus,
.btn-seafoam[disabled]:active,
.btn-seafoam[disabled].active,
fieldset[disabled] .btn-seafoam:hover,
fieldset[disabled] .btn-seafoam:focus,
fieldset[disabled] .btn-seafoam:active,
fieldset[disabled] .btn-seafoam.active {
  background-color: #0f7;
  border-color: #0f7;
}

.btn-pink {
  background-color: #f07;
  border-color: #f07;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
  background-color: #e6006b;
  border-color: #cc005f;
}
.btn-pink.disabled:hover,
.btn-pink.disabled:focus,
.btn-pink.disabled:active,
.btn-pink.disabled.active,
.btn-pink[disabled]:hover,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink:hover,
fieldset[disabled] .btn-pink:focus,
fieldset[disabled] .btn-pink:active,
fieldset[disabled] .btn-pink.active {
  background-color: #f07;
  border-color: #f07;
}

.btn-dkgray {
  background-color: #333;
  border-color: #333;
}
.btn-dkgray:hover,
.btn-dkgray:focus,
.btn-dkgray:active,
.btn-dkgray.active {
  background-color: #262626;
  border-color: #1a1a1a;
}
.btn-dkgray.disabled:hover,
.btn-dkgray.disabled:focus,
.btn-dkgray.disabled:active,
.btn-dkgray.disabled.active,
.btn-dkgray[disabled]:hover,
.btn-dkgray[disabled]:focus,
.btn-dkgray[disabled]:active,
.btn-dkgray[disabled].active,
fieldset[disabled] .btn-dkgray:hover,
fieldset[disabled] .btn-dkgray:focus,
fieldset[disabled] .btn-dkgray:active,
fieldset[disabled] .btn-dkgray.active {
  background-color: #333;
  border-color: #333;
}

.btn-gray {
  background-color: #777;
  border-color: #777;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
  background-color: #6a6a6a;
  border-color: #5e5e5e;
}
.btn-gray.disabled:hover,
.btn-gray.disabled:focus,
.btn-gray.disabled:active,
.btn-gray.disabled.active,
.btn-gray[disabled]:hover,
.btn-gray[disabled]:focus,
.btn-gray[disabled]:active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray:hover,
fieldset[disabled] .btn-gray:focus,
fieldset[disabled] .btn-gray:active,
fieldset[disabled] .btn-gray.active {
  background-color: #777;
  border-color: #777;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
  background-color: #f2f2f2;
  border-color: #e6e6e6;
}
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
  background-color: #fff;
  border-color: #fff;
}
